@import 'tailwindcss';
@import './styles/theme.css';

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--color-neutral-800);
  background: var(--color-neutral-50);
}

* {
  box-sizing: border-box;
}
